<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<%= link_to 'Home', welcome_path,class:"navbar-brand" %>
<div id="users">
    <% @users.each do |user| %>
    <%= render user %>
    <br>

    <% unless user.usertype=="admin"%>
      <%= button_to "Remove this user", user, method: :delete %>
    <% end %>

    <% end %>
</div>


</body>
</html>